<div class="plusHead"></div>
<div class="postHeader">
  <div class="headerOverlay">
    <div class="container">
      <div class="row">
        <h1>THAILAND BY TRAIN WITH EASTERN AND ORIENTAL EXPRESS</h1>
      </div>
    </div>
  </div>
</div>

<!-- Post etails -->
<div class="postsList">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h2>{{title}}</h2>
          <div class="postDetails">
            <span class="date"><i class="far fa-calendar-alt"></i>{{date}}</span>
            <span class="auther"><i class="fas fa-feather-alt"></i>{{this.auther}}</span>
          </div>
          <img src="../../../assets/Blog/postImg.png" alt="post image" title="post image" class="img-fluid" />
          <p>
            {{content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
