<div class="plusHead"></div>
<!-- Trip Headers -->
<div class="tripsHeader">
  <div class="headerOverlay">
    <div class="container">
      <h1>Find Your Trip</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-route"></i>
            <span class="boxSpan">Safari</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-anchor"></i>
            <span class="boxSpan">Sea</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-ankh"></i>
            <span class="boxSpan">Civilization</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="headTripBox lastBox">
            <i class="fas fa-leaf"></i>
            <span class="boxSpan">Nature</span>
          </div>
        </div>
        <div class="trip-button text-center">
          <button mat-raised-button routerLink="/contact"><i class="far fa-plus-square"></i> Book Your Trip</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest Trips -->
<div class="latestTrips">
  <div class="container">
    <span class="archiveSpan">Archive</span>
    <mat-divider></mat-divider>
    <h2>Recent Tours</h2>
    <p class="headParagraph">Travel has helped us to understand the meaning of life and it has helped us become <br>
      better people. Each time
      we
      travel, we see the world with new eyes.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" src="../../../assets/Trips/Latest/1.jpeg" title="trip1" alt="tour2" />
          </div>
          <div class="latestOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">Cairo, Giza</span>
            <strong class="latestStrong">Cairo Pyramids Trip</strong>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="overParagraph">A wonderful little cottage right on the seashore - perfect for exploring with the
              little boat which is
              included in the price. Located opposite Nidri sleeping.</p>
            <strong class="price">$1000</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" src="../../../assets/Trips/Latest/2.jpeg" title="trip1" alt="tour2" />
          </div>
          <div class="latestOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">Cairo, Giza</span>
            <strong class="latestStrong">Cairo Pyramids Trip</strong>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="overParagraph">A wonderful little cottage right on the seashore - perfect for exploring with the
              little boat which is
              included in the price. Located opposite Nidri sleeping.</p>
            <strong class="price">$1000</strong>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" src="../../../assets/Trips/Latest/3.jpeg" title="trip1" alt="tour2" />
          </div>
          <div class="latestOverlay smallOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">Cairo, Giza</span>
            <strong class="latestStrong">Cairo Pyramids Trip</strong>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="overParagraph">A wonderful little cottage right on the seashore - perfect for exploring with the
              little boat which is
              included in the price. Located opposite Nidri sleeping.</p>
            <strong class="price">$1000</strong>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" src="../../../assets/Trips/Latest/4.jpeg" title="trip1" alt="tour2" />
          </div>
          <div class="latestOverlay smallOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">Cairo, Giza</span>
            <strong class="latestStrong">Cairo Pyramids Trip</strong>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="overParagraph">A wonderful little cottage right on the seashore - perfect for exploring with the
              little boat which is
              included in the price. Located opposite Nidri sleeping.</p>
            <strong class="price">$1000</strong>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" src="../../../assets/Trips/Latest/5.jpeg" title="trip1" alt="tour2" />
          </div>
          <div class="latestOverlay smallOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">Cairo, Giza</span>
            <strong class="latestStrong">Cairo Pyramids Trip</strong>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <p class="overParagraph">A wonderful little cottage right on the seashore - perfect for exploring with the
              little boat which is
              included in the price. Located opposite Nidri sleeping.</p>
            <strong class="price">$1000</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
