<div class="plusHead"></div>
<!-- Trip Headers -->
<div class="tripsHeader">
  <div class="headerOverlay">
    <div class="container">
      <h1>Find Your Trip</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-route"></i>
            <span class="boxSpan">Safari</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-anchor"></i>
            <span class="boxSpan">Sea</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="headTripBox">
            <i class="fas fa-ankh"></i>
            <span class="boxSpan">Civilization</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="headTripBox lastBox">
            <i class="fas fa-leaf"></i>
            <span class="boxSpan">Nature</span>
          </div>
        </div>
        <div class="trip-button text-center">
          <button mat-raised-button routerLink="/contact"><i class="far fa-plus-square"></i> Book Your Trip</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest Trips -->
<div class="latestTrips">
  <div class="container">
    <span class="archiveSpan">Archive</span>
    <mat-divider></mat-divider>
    <h2>Local Excursions, Visits and Activities</h2>
    <p class="headParagraph">We offer a range of excursions in the local area which are tailor-made to your requirements
      and interests. Many of the sites are accessible on foot but we can also arrange for a pick up from the hotel by
      horse, camel, donkey or car. Alternatively you can hire one of our bicycles from the hotel.</p>
    <div class="row">
      <!-- Trip Box -->
      <div class="col-md-4 trip-box" *ngFor="let trip of trips , let i = index">
        <div class="latestBox">
          <div class="latestImage">
            <img class="img-fluid" [src]="trip.tripImgUrl" title="trip1" [alt]="i" />
          </div>
          <div class="latestOverlay smallOverlay">
            <i class="far fa-compass"></i>
            <span class="locationSpan">{{trip.tripLocation}}</span>
            <strong class="latestStrong">{{trip.tripName}}</strong>
            <p class="overParagraph">{{trip.tripDescription}}</p>
            <button routerLink="/contact" class="select-trip">Select Trip</button>
            <strong class="price"><i *ngIf="trip.tripLocation == 'West bank of Luxor'" class="fas fa-walking"></i>
              {{trip.tripTime}}</strong>
          </div>
        </div>
      </div>
      <!-- Trip Box End -->
    </div>
  </div>
</div>
