<div class="plusHead"></div>
<div class="restaurantHeader">
  <div class="headerOverlay">
    <div class="container">
      <div class="row">
        <h1>{{"Restaurant_Header_Heading" | translate}}</h1>
        <p>{{"Restaurant_Head_Desc" | translate}}</p>
      </div>
    </div>
  </div>
</div>


<!-- Features -->
<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="featuresBox">
          <img src="../../../assets/restaurant/icons/icon-1.png" />
          <span>{{"Restaurant_Serv_1" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featuresBox">
          <img src="../../../assets/restaurant/icons/icon-2.png" />
          <span>{{"Restaurant_Serv_2" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featuresBox">
          <img src="../../../assets/restaurant/icons/icon-3.png" />
          <span>{{"Restaurant_Serv_3" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="featuresBox">
          <img src="../../../assets/restaurant/icons/icon-4.png" />
          <span>{{"Restaurant_Serv_4" | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dishes -->
<div class="restaurantDishes">
  <div class="restaurantDishesOverlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="restaurantDishesDetails">
                <span class="Rooms">{{"Restaurant_Foods_Span" | translate}}</span>
                <mat-divider class="firstDivider"></mat-divider>
                <h3>{{"Restaurant_Foods_Heading" | translate}}</h3>
                <mat-list>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="restaurantDishesDetails">
                <span class="Rooms">{{"Restaurant_Drinks_Span" | translate}}</span>
                <mat-divider class="firstDivider"></mat-divider>
                <h3>{{"Restaurant_Drinks_Heading" | translate}}</h3>
                <mat-list>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 dishImg">
                        <img class="img-fluid d-block" src="../../../assets/restaurant/food-1.jpeg" />
                      </div>
                      <div class="col-sm-6 col-md-4"><strong>Lorem ibsum</strong></div>
                      <div class="col-md-4 d-none d-md-block"><i>- - - - - - - - - - - </i></div>
                      <div class="col-md-2 col-sm-6 text-right "><span>$50</span></div>
                      <div class="row upRow">
                        <div class="col-md-6 offset-2">
                          <p class=" d-none d-md-block">Lorem ibsum is A Dummy Text</p>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Working Hours -->

<div class="workingHours">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="detailsSection">
          <div class="detailsOverlay">
            <span class="timesSpan">{{"Restaurant_Hours_Span" | translate}}</span>
            <h4>{{"Restaurant_Hours_Heading" | translate}}</h4>
            <p>{{"Restaurant_Hours_Description" | translate}}</p>
            <button mat-raised-button routerLink="/contact">{{"Restaurant_Hours_Button" | translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hourseDetails">
          <strong>{{"Restaurant_Hours_Week" | translate}}</strong>
          <span>09 <b>:</b> 00</span>
          <span>22 <b>:</b> 00</span>
        </div>
      </div>
    </div>
  </div>
</div>
