<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../assets/Logo/LogoFooter.png">
        <p class="aboutParagraph lead">{{"Footer_Description" | translate}}</p>
      </div>

      <div class="col-md-3">
        <h2>{{"Footer_Links_Heading" | translate}}</h2>
        <mat-list>
          <mat-list-item mat-button routerLink="/">{{"NavBar_Home" | translate}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item mat-button routerLink="/about">{{"NavBar_About" | translate}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item mat-button routerLink="/rooms">{{"NavBar_Rooms" | translate}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item mat-button routerLink="/restaurant">{{"NavBar_Restaurant" | translate}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item mat-button routerLink="/trips">{{"NavBar_Trips" | translate}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item mat-button routerLink="/contact">{{"NavBar_Contact" | translate}}</mat-list-item>
        </mat-list>
      </div>

      <div class="col-md-3">
        <h2 class="numHeading">{{"Footer_Phone" | translate}}</h2>
        <span>{{"Footer_Phone_Span24" | translate}}</span>
        <p class="num">+201030340897</p>
      </div>
    </div>
  </div>
</footer>
